@import url(reset.css);
@import url(top.css);
@import url(loginform.css);
@import url(grids.css);
@import url(todo.css);
@import url(qoute.css);
@import url(stopwatch.css);
@import url(clock.css);
@import url(weather.css);

body {
  border: 0;
  margin: 0;
  padding: 0;
}

.hidden {
  opacity: 0;
  z-index: -2;
}

img {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -4;
}

.gray-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -3;
}

@keyframes hidden {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(360px);
  }
}
